html {
	/* font-family: Helvetica, sans-serif; */
	/* font-family: "Gill Sans MT", "Gill Sans", sans-serif; */
	/* font-family: Lato, sans-serif; */
    /* font-weight: normal; */
	font-weight: 260;
    font-size: 17px;
	max-width:760px;
    float: left;
	margin: 0 auto;
}
body {
	margin: 2%;
	text-align: justify;
}
ul,ol {
	padding-left:1.25em;
}

ul ul {
    list-style-type: square;
    margin-left: 2em;
    margin-bottom: 0;
}
h1 { font-size: 140%; }
h2 { font-size: 130%; }
h3 { font-size: 120%; }
h4 { font-size: 110%; }
h1,h2,h3,h4 {
	//text-align: center;
	//font-weight: normal;
}


a:link, a:visited, a:active {
    text-decoration:none;
}

/*
a:visited {
    background-color: cyan;
}
a:active {
    background-color: hotpink;
} 
*/

a:hover {
    background-color: #e6e5ea;
}
