html {
	//font-family: Lato, sans-serif;
	//font-family: Helvetica, sans-serif;
	//font-family: "Gill Sans MT", "Gill Sans", sans-serif;
        font-weight: normal;
	font-size:18px;
	max-width:900px;
	float: left;
}
body {
	margin: 2%;
	text-align: justify;
}
ul,ol {
	padding-left:1.25em;
}

ul ul {
    list-style-type: square;
    margin-left: 2em;
    margin-bottom: 0;
}
h1 { font-size: 190%; }
h2 { font-size: 170%; }
h3 { font-size: 150%; }
h4 { font-size: 130%; }
h1,h2,h3,h4 {
	//text-align: center;
	//font-weight: normal;
}


a:link, a:visited, a:active {
    text-decoration:none;
}

/*
a:visited {
    background-color: cyan;
}
a:active {
    background-color: hotpink;
} 
*/

a:hover {
    background-color: #e6e5ea;
}
